{{ $headless := .Site.GetPage "/sections" }}

<div id="about" class="w-full min-h-screen flex flex-col justify-center items-center py-12">
    <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0">
        <h2 class="font-bold tracking-wider text-white text-2xl mb-2">Portal to unlimited possibility</h2>
        <div class="font-light text-white text-xl">
            Buy whatever you want from any game. No Credit Card, no PayPal, no USD/EUR needed. Just pay with Local Currency (Bank Transfer or e-Wallets).
        </div>
        <img class="my-12 max-w-full mx-auto" src="/img/minecraft.png" alt="Envoy Portal Buy Minecraft">
        <img class="my-12 max-w-full mx-auto" src="/img/sorare.png" alt="Envoy Portal Buy Sorare">
        <img class="my-12 max-w-full mx-auto" src="/img/csgo.png" alt="Envoy Portal Buy CS:GO">
        <img class="my-12 max-w-full mx-auto" src="/img/splinterlands.png" alt="Envoy Portal Buy Splinterlands">
        <img class="my-12 max-w-full mx-auto" src="/img/sandbox.png" alt="Envoy Portal Buy Sandbox">
    </div>
    <div class="flex flex-row w-full justify-center">
        <a class="px-10 py-2 text-gray-200 bg-pink-600 rounded-full shadow-md text-lg hover:bg-gray-200 hover:border-red focus:outline-none" href="#how">See How it Works</a>
    </div>
</div>