{{ $headless := .Site.GetPage "/sections" }}

<div id="how" class="w-full min-h-screen flex flex-col justify-center items-center py-12 bg-gray-700">
    <div class="self-center text-center w-full sm:w-4/5 xl:w-3/4 px-4 sm:px:0">
        <h2 class="font-bold tracking-wider text-white text-2xl mb-2">Show Me The Way!</h2>
        <div class="font-light text-white text-xl">
            With just few simple steps, your dream items will be yours in no time.
        </div>
        <img class="my-12 max-w-full mx-auto" src="/img/envoyportal-flow-chart.png" alt="Envoy Portal Flow Chart">
        <div class="font-light text-white text-xl">
            Win some Tournaments Prize?<br>...or do you want to cash out your e-Sport Rewards?<br>Say no more!
        </div>
        <img class="my-12 max-w-full mx-auto" src="/img/receive-game-reward.png" alt="Envoy Portal Receive Flow Chart">
        <div class="font-medium text-white text-md xl:text-lg">
            Our platform fee will be as low as <strong>0.88%</strong>
        </div>
    </div>
</div>