<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="/css/page.css" as="style">
<!-- PRELOAD CDN SCRIPTS -->
<link rel="preconnect" href="https://unpkg.com/popper.js@1" as="script">
<link rel="preconnect" href="https://unpkg.com/tippy.js@4" as="script">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- SEO -->
<meta name="referrer" content="always" />
<meta name="description" content="{{ with .Description }}{{.}}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author.name }}">
<meta name="robots" content="index,follow">

<!-- Social & Open Graph -->
<meta property="og:title" content="ENVOY Portal" />
<meta property="og:description" content="ENVOY Portal is a digital Gaming payment solution, providing easy digital transaction using local currency." />
<meta property="og:image" content="{{ .Site.Params.images }}">

<meta property="og:url" content="https://envoyportal.com" />
<meta name="twitter:title" content="ENVOY Portal">
<meta name="twitter:description" content="NVOY Portal is a digital Gaming payment solution, providing easy digital transaction using local currency." />
<meta name="twitter:image" content="{{ .Site.Params.images }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@ENVOYcorp" />
<meta name="twitter:creator" content="@ENVOYcorp" />

<base href="{{ .Site.BaseURL }}">
<meta name="theme-color" content="#ffffff">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

<!-- Style -->
<link rel="stylesheet" href="/css/page.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">